
@{
    ViewBag.Title = "Éxito";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <hgroup>
        <h1>Success.</h1>
        <h2>Petici&oacute;n completada de forma satisfactoria</h2>
        @Html.ActionLink("Volver al Inicio", "Index", "Home", null, new { @class = "btn btn-info"})
    </hgroup>
</body>
</html>


